* {
  box-sizing: border-box;
}
.rootzorg {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  position: absolute;
  align-items: center;
}
.rootzorg a {
  font-size: 4vmin;
  font-weight: bold;
  color: rgb(0, 172, 143);
}
.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #111a24;
  border-bottom: solid 1px #273540;
}
.input-todo {
  border: none;
  outline: none;
  color: #fff;
  font-size: 2.5vmin;
  border-radius: 4px;
  padding: 2vmin 3vmin;
  background-color: hsla(0, 0%, 100%, 0.08235294117647059);
}

.todo {
  color: #fff;
  font-size: 2.5vmin;
}

.btn {
  margin: 7px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 2.5vmin;
  border-radius: 4px;
  padding: 2vmin 3vmin;
  background-color: #3d546a;
}

.btn:hover {
  cursor: pointer;
  background-color: #3d546a40;
}

.btn-container {
  width: 100%;
  display: flex;
}

.todo-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
